.carrossel {
    padding: 1em;
}

.carrossel__titulo {
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.75rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    border-radius: 0.75em;
}

.swiper-pagination {
    position: initial;
}

.divisor {
    padding: 1.5em;
}

.divisor-2 {
    padding: 0.5em;
}