.surgimento {
    padding: 1em;
}

.surgimento__titulo {
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 1em;
}

.surgimento__texto {
    padding: 0.25em;
}